/* body {
} */

img.shadow-2-strong.pic {
    border-radius: 15px;
}

img.skill-img {
    height: 48px;
    width: 48px;
    /* display: inline; */
}


/* .icon-color {
    color: #66aeeb !important;
} */


/* .fa-1x {
    font-size: 1em; }
  
  .fa-2x {
    font-size: 2em; }
  
  .fa-3x {
    font-size: 3em; }
  
  .fa-4x {
    font-size: 4em; }
  
  .fa-5x {
    font-size: 5em; }
  
  .fa-6x {
    font-size: 6em; } 
    
    .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}
    */