# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Michael OS\GeneralProjectsFolder\HTML, CSS, BOOTSTRAP PROJECT\Portfolio-MDB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
